@mixin theme-color($name, $hue) {
    --hue-#{"" + $name}: #{$hue};
    --color-#{"" + $name}: #{'hsl(var(--hue-#{$name}), 71%, 46%)'};

    &.#{"" + $name} {
        --primary-hue: var(--hue-#{$name});
    }
}

html {
    &:root {
        --text-color: #444;
        --border-color: #999;
        --main-bg-color: #b1ddf8;
        --color-shaddow-first: #ff98fc;
        --color-shaddow-second: #5af7ff;
        --primary-hue: 58deg;
        --primary-color: hsl(var(--primary-hue), 72%, 44%);
        --secondary-color: hsl(var(--primary-hue), 70%, 60%);
        --button-text-color: #fff;
        --button-bg-color: var(--primary-color);
        --button-text-color-hover: #ddd;
        --button-text-color-active: #ccc;

        @include theme-color(cyan, 180deg);
        @include theme-color(green, 115deg);
        @include theme-color(blue, 200deg);
        @include theme-color(purple, 280deg);
        @include theme-color(red, 5deg);
        @include theme-color(yellow, 58deg);
    }
}

body {
    font-family: MS Sans Serif, Geneva, sans-serif;
    padding: 0;
    margin: 0;
    background: url(../assets/bg-8-bit-nature.jpg) no-repeat center;
    background-color: var(--main-bg-color);
    background-size: cover;
}

.btn {
    color: var(--button-text-color);
    background: var(--primary-color);
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    display: inline-block;
    min-width: 96px;

    &:hover {
        color: var(--button-text-color-hover);
    }

    &:active {
        color: var(--button-text-color-active);
    }
}
